<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Front-end - MTDb</title>
</head>
<body>
<div id="app">
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="../" class="navbar-brand d-flex align-items-center">
            <strong class="h2">Front-end - MTDb</strong>
          </a>
        </div>
      </div>
    </header>

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <img class="card-img-top" :src="getImagem(info.poster_path)">
            </div>
            <div class="col-8">              
              <p class="h3">{{info.title}}</p>
              <p class="h5">{{info.tagline}}</p>
              <p>Data de Lançamento: {{formatData(info.release_date)}}</p>
              <p>Popularidade: {{info.popularity}}</p>
              <p>Avaliação: {{info.vote_average}}</p>
              <p>Número de votos: {{info.vote_count}}</p>
              <hr />
              <strong class="h4">Sinopse</strong>
              <p>{{info.overview}}</p>
              <hr/>

              <strong class="h4">Elenco</strong>
              <div class="row">
                <div class="col-2 text-center mb-2" v-for="elenco in cast">
                  <img class="card-img-top" :src="getImagem(elenco.profile_path)" width="100" style="min-height:144px;">
                  <strong>{{elenco.character}}</strong> 
                  <i class="d-block">{{elenco.name}}</i>
                </div>
              </div>
              <hr />
              <div class="mb-3">
                Gênero: 
                <span class="badge badge-pill badge-dark mr-2" v-for="genero in info.genres">{{genero.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js"></script>
    <script src="../js/filme.js"></script>
</html>